<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Nikolay Zakharov CV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png">

    <meta name="description" content="Nikolay Zakharov — QA Engineer, looking for interesting vacancies in Singapore">
    <meta name="keywords" content="qa, qa engineer, singapore, job, vacancy">

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Nikolay Zakharov - QA Engineer">
    <meta property="og:title" content="Nikolay Zakharov - QA Engineer">
    <meta property="og:image" content="https://beautiful-electricity.com/assets/img/me.jpeg">
    <meta property="og:url" content="https://beautiful-electricity.com/cv/">
    <meta property="og:description" content="Nikolay Zakharov — QA Engineer, looking for interesting vacancies in Singapore">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
  </head>
  
  <body>
    <header class="page-header" role="banner" style="padding: 1rem;">
      <div>
        <a href="/", style="margin-right: 10px; color: white">About Me</a>
        <span style="margin-right: 10px;">|</span>
        <a href="/cv", style="margin-right: 10px; color: white">CV</a>
      </div>
    </header>

    <div style="text-align: center;">
      <h1 style="margin: 0;">Nikolay Zakharov</h1>
      <h2 style="margin: 0;">Quality Assurance Engineer</h2>
      <img src="/assets/img/me.jpeg", style="max-width: 150px; border-radius: 50%;"></img>
    </div>

    <div style="margin-left: 10%; margin-right: 10%;">

      <h3>Contacts</h3>
    
      <p>
        <span>Contact me via email: <a href="mailto:offer@beautiful-electricity.com">offer@beautiful-electricity.com</a></span><br>
        <span>or phone number: <a href="tel:+79953185491">+7-995-318-54-91</a></span><br>
        <span>or linkedin messages: <a href="https://www.linkedin.com/in/nikolay-zakharov-be/">https://www.linkedin.com/in/nikolay-zakharov-be/</a></span>
      </p>

      <h3>About me</h3>
      <p>
        <span>Current Location: Russia, Moscow</span></br>
        <span>Full list of Articles, written by me: <a href="https://beautiful-electricity.com/#articles">https://beautiful-electricity.com/#articles</a></span></br>
        <span>My GitHub account with incredible projects: <a href="https://github.com/giant-whale">https://github.com/giant-whale</a></span>
      </p>

      <h3>Achievements of last years</h3>

      <div style="margin-left: 16px">
        <p>- No QA testing for tasks, only dev-testing — lower Time To Market;</p>
        <p>- Implemented backend mocking for Selenium-based web-UI test framework.</p>
      </div>

      <h3>Experience</h3>

      <div>
        <div>
          <span>Senior QA Engineer — Cian</span>
          <span style="float: right;">May 2019 — May 2021 (2 years)</span>
        </div>
        <p>Working in different teams as a QA Engineer.
           <br>
           About the company — Cian is a real estate SaaS.
           <br><br>
           My Duties:
            <div style="margin-left: 16px">
              <p>- Requirements, security, functional, API, regression testing;</p>
              <p>- Writing test documentation, such as test-cases, checklists and articles for other QAs (Jira, Confluence, Testrail, Allure);</p>
              <p>- Writing autotests using Selenium and Python (Pytest); code review of new tests and framework changes;</p>
              <p>- Deploy via Jenkins and Nomad;</p>
              <p>- Issues research with Elasticsearch, Kibana;</p>
              <p>- Building up services monitoring with Elasticsearch and Grafana;</p>
              <p>- Business analytic for new projects;</p>
              <p>- Improving processes in the company and my teams by making educational meetups about developing and testing;</p>
              <p>- QA mentoring.</p>
            </div>
        </p>
      </div>  

      <hr></hr>

      <div>
        <div>
          <span>QA Engineer — AntidaSoftware</span>
          <span style="float: right;">January 2017 — April 2019 (2 years 4 months)</span>
        </div>
        <p>Working with many teams in different companies as a QA Engineer.
           <br>
           About the company — an outsourcing company.
           <br><br>
           My Duties:
            <div style="margin-left: 16px">
              <p>- Requirements, functional and regression testing;</p>
              <p>- Writing test documentation, such as test-cases, checklists;</p>
              <p>- Business analytic for new projects;</p>
              <p>- Improving processes in companies and my teams.</p>
            </div>
           Projects:
            <div style="margin-left: 16px">
              <p>- SaaS service for employees tracking; Big Data, Windows application, Google Chrome extension included</p>
              <p>- SaaS service for resellers; - got skill of payment systems testing</p>
              <p>- SaaS service for logistics;</p>
              <p>- SMM service;</p>
              <p>- CRM system;</p>
              <p>- Employees productivity review system.</p>
            </div>
        </p>
      </div>  

      <hr></hr>

      <div>
        <div>
          <span>Engineer — Teorema</span>
          <span style="float: right;">August 2015 — August 2016 (1 year)</span>
        </div>
        <p>Working with sales and IT teams
           <br>
           About the company — an retail shop.
           <br><br>
           My Duties:
            <div style="margin-left: 16px">
              <p>- Writing reports for sales team with SQL;</p>
              <p>- Support and improve internal software written with Delphi;</p>
              <p>- Broken hardware diagnosis.</p>
            </div>
        </p>
      </div>

      <h3>Education</h3>
        <p>
          Post-secondary vocational education — Chelyabinsk Law College (Russia) — Programming in Computer Systems (3 years 10 months, September.2011—July.2015)
        </p>

      <h3>Skills</h3>
        <div style="margin-left: 16px">
          <p>- Testing web (both backend and frontend), mobile applications (also both REST-API backend and frontend);</p>
          <p>- Requirements, security, functional, regression testing;</p>
          <p>- Writing automated tests with Selenium and Python;</p>
          <p>- Management;</p>
          <p>- Languages: English and Russian.</p>
        </div>
      <br><br>
      <p style="color: darkgray;">keywords: security testing, jira, confluence, selenium, python, pytest, testing, automation, jenkins, functional testing, regression testing, test-case, checklist, management, Nikolay Zakharov, QA Engineer, web applications, postman, sql, work, testrail, allure, ci, cd, mobile applications</p>

    </div>
  </body>
</html>