<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Nikolay Zakharov</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png">

    <meta name="description" content="Nikolay Zakharov — QA Engineer, looking for interesting vacancies in Singapore">
    <meta name="keywords" content="qa, qa engineer, singapore, job, vacancy">
  
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Nikolay Zakharov - QA Engineer">
    <meta property="og:title" content="Nikolay Zakharov - QA Engineer">
    <meta property="og:image" content="https://beautiful-electricity.com/assets/img/me.jpeg">
    <meta property="og:url" content="https://beautiful-electricity.com/">
    <meta property="og:description" content="Nikolay Zakharov — QA Engineer, looking for interesting vacancies in Singapore">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
  </head>

  <body>
    <header class="page-header" role="banner" style="padding: 1rem;">
      <div>
        <a href="/", style="margin-right: 10px; color: white">About Me</a>
        <span style="margin-right: 10px;">|</span>
        <a href="/cv", style="margin-right: 10px; color: white">CV</a>
      </div>
    </header>

    <main id="content" class="main-content" role="main">
      <div>
        <img src="/assets/img/me.jpeg", style="max-width: 200px; border-radius: 50%;"></img>
        <h1 style="float: right; padding-right: 20%;">Hey, that's me!</h1>
      </div>
      <br>
      <div>
        <p>Hi, I'm Nikolay Zakharov — a QA Engineer from Russia.
          <br>
          Like a usual person, I love animals, tasty food and good internet services. 
          I also love challenges, information security, investigations of root-causes and building stable QA processes to make more quality with less time cost. 
          <br>
          <br>
          If you want me to make your product better, there are contacts below.
        </p>
      </div>
      <span class="site-footer-credits">Contact me via email: <a href="mailto:offer@beautiful-electricity.com">offer@beautiful-electricity.com</a> or linkedin: <a href="https://www.linkedin.com/in/nikolay-zakharov-be" rel="nofollow">www.linkedin.com/in/nikolay-zakharov-be</a></span>
    </main>
  </body>
</html>